/* .box{
  position: relative;
  width: 100px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.fa-html5{
  color: #DE4B25;
}

.fa-css3-alt{
  color: #2174F8;
}

.fa-js-square{
  color: #F8DC00;
}

.fa-node-js{
  color: #8CC03F;
}

.fa-php{
  color: #848FBC;
}

.fa-angular{
  color: #BE002E;
}

.fa-bootstrap{
  color: #4D218F;
}

.fa-react{
  color: #61DAFB;
}

.skill-box{
  padding: 5px;
  margin-left: 2px;
  margin-bottom: 30px;
  /* border: 1px solid #ddd; */
}

/* .skill-box:hover{
  transition: all ease 0.3s;
  transform: scale(1.2);
  border: 1px solid #888;
} */

.skill-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.icon{
  font-size: 90px;
}
