<div class="ae-grid au-xs-ta-center au-mb-4">

  <div class="container">
    <div class="row justify-content-center">

      <div *ngFor="let person of infoService.team" class="ae-grid__item item-lg-4 ae-kappa au-mb-3 animate__animated animate__fadeIn col-4">

        <img [src]="person.url" alt="" class="au-mb-3 rounded" width="90%">

        <h5 class="ae-u-bolder au-mt-2 text-dark">{{ person.name }}</h5>

        <p class="ae-u-bolder au-mb-3 text-{{ person.color }}">{{ person.subtitle }}</p>

        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4 text-center text-dark">
          {{ person.sentence }}
        </p>

        <a target="_blank" href="https://twitter.com/tonikin3" class="ae-u-bolder au-underline">{{ person.twitter }}</a>

      </div>

    </div>

  </div>

</div>
