<footer class="ae-container-fluid rk-footer">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <p class="rk-footer__text rk-footer__copy">
        <span class="ae-u-bold">© </span>

        <span class="ae-u-bolder">{{ year }} TONY GONZALEZ </span> {{ version }}
        All Right Reserved.
      </p>
    </div>

    <div class="ae-grid__item item-lg-4 au-xs-ta-center">
      <a target="_blank" [href]="info.github" class="rk-social-btn">
        <i class="fab fa-github"></i>
      </a>

      <a target="_blank" [href]="info.twitter" class="rk-social-btn">
        <i class="fab fa-twitter"></i>
      </a>

      <a target="_blank" [href]="info.linkedin" class="rk-social-btn">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <a target="_blank" [href]="info.codersRank" class="rk-social-btn">
        <i class="fas fa-code"></i>
      </a>
    </div>

    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact">
        <span class="ae-u-bolder">
          <a href="mailTo:{{ info.email }}" class="rk-dark-color">My Email</a>
        </span>
      </p>

      <p class="rk-footer__text rk-footer__by">
        Theme by

        <a href="http://pixeden.com" class="ae-u-bolder">Pixeden.</a>
      </p>
    </div>
  </div>
</footer>
